@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap");
* {
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0px;
  min-height: 100vh;
  background-color: hsl(359, 95%, 92%);
  padding-bottom: 0px;
  /* position: relative; */
}

.LogoN2clothing {
  height: 100px;
}

.Navbar-homepage {
  background-color: #fff9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0 2px 4px 0 rgba(176, 171, 171, 0.2);
}

.Navbar-contain-icon-menu {
  display: flex;
  width: 100%;
}

.menu-navbar {
  padding-left: 10px;
  align-items: center;
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.menu-navbar li {
  list-style: none;
  cursor: pointer;
}

.menu-navbar a {
  font-weight: 500;
  font-size: 24px;
  color: #0883a0;
  text-decoration: none;
}

.menu-navbar a:hover {
  color: #055a6d;
  transition-duration: 0.3s;
}

#allorder-link {
  color: #055a6d;
}

#transferMoney-link {
  color: #055a6d;
}

.login-link {
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 24px;
  color: #0883a0;
  cursor: pointer;
}

.login-link:hover {
  color: #055a6d;
  transition-duration: 0.3s;
}

.line-vertical {
  height: 40px;
  width: 2px;
  background-color:#7c848c;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-login-cart {
  display: flex;
  align-items: center;
}

.cart-icon {
  height: 36px;
  cursor: pointer;
}


.sub-menu-navbar{
  display: none;
}


.HowToOrder-link:hover .sub-menu-navbar{
  display: block;
  position: absolute;
  width: fit-content;
  background-color: #fbf3f3;
  padding: 10px 10px 10px 0px;
  border-radius: 10px;
  
}

.sub-menu-navbar a{
  margin-left: -30px;
  font-size: 18px;
  font-weight: normal;
}

.left-content{
  float: left;
  width: 20%;
  height: 100vh;
}

.left-content h1{
  margin-left: 10%;
  font-size: 28px;
}

.left-content li{
  text-align: start;
  list-style: none;
  font-size: 24px;
}

.right-content{
  /* background-color: teal; */
  /* width: 100%; */
  /* height: 100vh; */
}


.all-goods{
  background-color: turquoise;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  justify-items: center;
}

.goods{
  width: 100%;
  height: 300px;
  background-color: violet;
}

footer {
  clear: both;
  margin-top: 3%;
  /* bottom: 0px; */
  /* position: absolute; */
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffb1af;
  text-align: center;
  color: white;
}


