@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap");
* {
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0px;
  min-height: 100vh;
  background-color: #fed6d7;
  padding-bottom: 0px;
}

.LogoN2clothing {
  height: 100px;
}

.Navbar-homepage {
  background-color: #fff9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0 2px 4px 0 rgba(176, 171, 171, 0.2);
}

.Navbar-contain-icon-menu {
  display: flex;
  width: 100%;
}

.menu-navbar {
  padding-left: 10px;
  align-items: center;
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.menu-navbar li {
  list-style: none;
  cursor: pointer;
}

.menu-navbar a {
  font-weight: 500;
  font-size: 24px;
  color: #0883a0;
  text-decoration: none;
}

.menu-navbar a:hover {
  color: #055a6d;
  transition-duration: 0.3s;
}

#allorder-link {
  color: #055a6d;
}

#transferMoney-link {
  color: #055a6d;
}

.login-link {
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 24px;
  color: #0883a0;
  cursor: pointer;
}

.login-link:hover {
  color: #055a6d;
  transition-duration: 0.3s;
}

.line-vertical {
  height: 40px;
  width: 2px;
  background-color:#7c848c;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-login-cart {
  display: flex;
  align-items: center;
}

.cart-icon {
  height: 36px;
  cursor: pointer;
}


.sub-menu-navbar{
  display: none;
}


.HowToOrder-link:hover .sub-menu-navbar{
  display: block;
  position: absolute;
  width: fit-content;
  background-color: #fbf3f3;
  padding: 10px 10px 10px 0px;
  border-radius: 10px;
  
}

.sub-menu-navbar a{
  margin-left: -30px;
  font-size: 18px;
  font-weight: normal;
}

.left-content{
  float: left;
  width: 20%;
  height: 100vh;
}

.left-content h1{
  margin-left: 10%;
  font-size: 28px;
  color: #0883a0;
}

.left-content li{
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #0883a0;
  text-align: start;
  list-style: none;
  font-size: 24px;
  color: #0883a0;
  cursor: pointer;
}

.left-content a{
  cursor: pointer;
  text-decoration: none;
  color: #0883a0;
}

.left-content li:hover{
  color: #055a6d;
  font-weight: bold;
}
.right-content{
  float: left;
  width: 80%;
}

.all-goods{
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  gap: 10px;
  row-gap: 30px;
  justify-items: center;
  padding: 30px 0px 10px 30px;
}

.goods{
  width: 100%;
  height: 300px;
  background-color: violet;
}


#link-dress{
    color: #055a6d;
    font-weight: 500;
  }


.username-p {
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 500;
    font-size: 24px;
    color: #0883a0;
    cursor: pointer;
  }
  
  .username-p:hover {
    color: #055a6d;
    transition-duration: 0.3s;
  }



.sub-menu-navbar-profile{
    display: none;
  }

  .sub-menu-navbar-profile ul{
      margin: 0px;
      padding: 0px;
  }

.sub-menu-navbar-profile a{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #1c98bc;
  }

.sub-menu-navbar-profile li:hover{
    color: #177a98;
    background-color: #c7e2e7;
    width: 100%;
  }

  .sub-menu-navbar-profile li{
      padding: 10px 20px 10px 20px;
      cursor: pointer;
  }



.Username-link:hover .sub-menu-navbar-profile{
    display: block;
    position: absolute;
    top: 70px;
    right: 70px;
    overflow: hidden;
    background-color: #fbf3f3;
    border-radius: 10px;
    z-index: 2;
  }

.Username-link , .Username-link li{
    list-style: none;
    text-decoration: none;
    

}  

.product-collection{
  text-align: center;
  padding: 0px 20px 20px 20px;
  z-index: 1;
}

.product-collection h1{
  font-size: 20px;
  font-weight: normal;
  color: #5c8e95;
  margin: 0px;
}

.btn-choose{
  margin-top: 0px;
  border-radius: 20px;
  color: white;
  background-color: #1c98bc;
  border: none;
  font-size: 18px;
  padding: 10px 20px 10px 20px ;
  transition-duration: 0.5s;
  cursor: pointer;
}

.btn-choose:hover{
  background-color: #177a98;
  transition-duration: 0.5s;
}

.image-collection-container {
  overflow: hidden;
  height: 270px;
  width: 250px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.image-collection{
  height: 100%;
  width: 100%;
  transition-duration: 1s;
  opacity: 1;
}

.image-collection-container:hover img{
  transform: scale(1.1);
  transition-duration: 1s;
  opacity: 0.7;
}


.Number-cart{
  z-index: 2;
  top: 4px;
  right: 10px;
  position: absolute;
  font-size: 18px;
  color: hsl(0, 0%, 95%);
  background-color: #1c98bc;
  border-radius: 50%;
  padding: 0px 9px 0px 9px;
  box-shadow: 0px 4px 8px 0px rgba(137, 134, 134, 0.2);

}
.image-cart{
  width: 50px;
  border-radius: 10px;
}
.cart-detail{
  display: none;
}
.cart-detail p{
  display: inline;
}
.cart-container:hover .cart-detail{
    z-index: 2;
    text-align: center;
    width: 34%;
    display: block;
    position: absolute;
    right: 0px;
    overflow: hidden;
    background-color: #f3ecec;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 10px 20px 10px;
}
.table-cart {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0px;
  padding: 0px;
}
.table-cart th,.table-cart td{
  padding: 5px 5px 5px 5px;
}
.table-cart th{
  color: #055a6d;
  white-space: nowrap;
}
.table-cart td{
  color: #0883a0;
}
.GoToBuy{
  white-space: nowrap;
  text-decoration: none;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  background-color: #0883a0;
  color: white;
  border: none;
  font-size: 18px;
  transition-duration: 0.5s;
  cursor: pointer;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}
.GoToBuy:hover{
  background-color:#055a6d;
  
}

footer {
  clear: both;
  margin-top: 3%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffb1af;
  text-align: center;
  color: white;
}


