@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap");
* {
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0px;
  min-height: 100vh;
  background-color: hsl(359, 95%, 92%);
  padding-bottom: 0px;
  /* position: relative; */
}

.LogoN2clothing {
  height: 100px;
}

.Navbar-homepage {
  background-color: #fff9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0 2px 4px 0 rgba(176, 171, 171, 0.2);
}

.Navbar-contain-icon-menu {
  display: flex;
  width: 100%;
}

.menu-navbar {
  padding-left: 10px;
  align-items: center;
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.menu-navbar li {
  list-style: none;
  cursor: pointer;
}

.menu-navbar a {
  font-weight: 500;
  font-size: 24px;
  color: #0883a0;
  text-decoration: none;
}

.menu-navbar a:hover {
  color: #055a6d;
  transition-duration: 0.3s;
}


.login-link {
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 24px;
  color: #0883a0;
  cursor: pointer;
}

.login-link:hover {
  color: #055a6d;
  transition-duration: 0.3s;
}

.line-vertical {
  height: 40px;
  width: 2px;
  background-color:#7c848c;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-login-cart {
  display: flex;
  align-items: center;
}

.cart-icon {
  height: 36px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}


.sub-menu-navbar{
  display: none;
}


.HowToOrder-link:hover .sub-menu-navbar{
  z-index: 2;
  display: block;
  position: absolute;
  width: fit-content;
  background-color: #fbf3f3;
  padding: 10px 10px 10px 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.sub-menu-navbar a{
  margin-left: -30px;
  font-size: 18px;
  font-weight: normal;
}



.username-p {
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 500;
    font-size: 24px;
    color: #0883a0;
    cursor: pointer;
  }
  
  .username-p:hover {
    color: #055a6d;
    transition-duration: 0.3s;
  }



.sub-menu-navbar-profile{
    display: none;
  }

  .sub-menu-navbar-profile ul{
      margin: 0px;
      padding: 0px;
  }

.sub-menu-navbar-profile a{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #1c98bc;
  }

.sub-menu-navbar-profile li:hover{
    color: #177a98;
    background-color: #c7e2e7;
    width: 100%;
  }

  .sub-menu-navbar-profile li{
      padding: 10px 20px 10px 20px;
      cursor: pointer;
  }



.Username-link:hover .sub-menu-navbar-profile{
    display: block;
    position: absolute;
    top: 70px;
    right: 70px;
    overflow: hidden;
    background-color: #fbf3f3;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.Username-link , .Username-link li{
    list-style: none;
    text-decoration: none;
    

}


.Number-cart{
  z-index: 2;
  top: 4px;
  right: 10px;
  position: absolute;
  font-size: 18px;
  color: hsl(0, 0%, 95%);
  background-color: #1c98bc;
  border-radius: 50%;
  padding: 0px 9px 0px 9px;
  box-shadow: 0px 4px 8px 0px rgba(137, 134, 134, 0.2);

}
.image-cart{
  width: 50px;
  border-radius: 10px;
}
.cart-detail{
  display: none;
}
.cart-detail p{
  display: inline;
}
.cart-container:hover .cart-detail{
    z-index: 2;
    text-align: center;
    width: 34%;
    display: block;
    position: absolute;
    right: 0px;
    overflow: hidden;
    background-color: #f3ecec;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 10px 20px 10px;
}
.table-cart {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0px;
  padding: 0px;
}
.table-cart th,.table-cart td{
  padding: 5px 5px 5px 5px;
}
.table-cart th{
  color: #055a6d;
  white-space: nowrap;
}
.table-cart td{
  color: #0883a0;
}
.GoToBuy{
  white-space: nowrap;
  text-decoration: none;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  background-color: #0883a0;
  color: white;
  border: none;
  font-size: 18px;
  transition-duration: 0.5s;
  cursor: pointer;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}
.GoToBuy:hover{
  background-color:#055a6d;
  
}


.Cart-container{
    /* padding: 20px; */
    min-height: 100vh;
    position: relative;
}


.Image-cart-table{
    height:200px;
    width: 200px;
    border-radius: 10%;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.TD-image{
    width: 20%;
    padding: 0px;
    
}

.Cart-table{
    z-index: 1;
    width: 100%;
}

.Cart-table,.Cart-table th,.Cart-table td{
    border-bottom: 1px solid #747474;
    border-collapse: collapse;
    padding: 15px 0px 15px 0px;
    text-align: center;
}

.Cart-table th{
    color: #055a6d;
   white-space: nowrap;
    font-size: 24px;
    /* padding: 0px 20px 20px 50px; */
}


.Cart-table td{
    font-size: 20px;
    text-align: center;
    /* padding: 5px; */
    color: #0883a0;
}

#TD-price{
    font-size: 20px;
    color: #055a6d;
    font-weight: bold;
}


.delete-order{
    background-color: rgb(255, 78, 78);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    transition-duration: 0.5s;
    white-space: nowrap;
    font-size: 18px;
}

.delete-order:hover{
    background-color: rgb(234, 29, 29);
}

.Total-price{
    text-align: end;
}

.Total-price h1{
    color: #0883a0;
    font-size: 20px;
}

.Total-price span{
    margin-left: 10px;
    margin-right: 20px;
    font-size: 26px;
    color: rgb(219, 50, 50);
    /* color: #055a6d; */
}

.btn-order{
    text-align: center;
}

.btn-order button{
    padding: 10px 30px 10px 30px;
    color: white;
    font-size: 28px;
    border: none;
    background-color: #0883a0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 20px;
}

.btn-order button:hover{
    background-color:#055a6d;
  }

.Cart-inner-container{
    padding: 20px 20px 100px 20px;
}

.header-Order{
    background-color: #6ea8b0;
    padding: 5px 0px 5px 0px;
}
.header-Order h1{
    font-size: 32px;
    color: white;
    margin-left: 10%;
}

.btn-return{
    text-decoration: none;
    float: left;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    background-color: #0883a0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.5s;
    cursor: pointer;
}
.btn-return:hover{
    background-color:#055a6d;
}

footer {
  /* margin-top: 20px; */
  position: absolute;
  width: 100%;
  bottom: 0px;
  vertical-align: text-bottom;  
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffb1af;
  text-align: center;
  color: white;
}


